name: Test conftest samples
on:
  workflow_call:
  pull_request:
    branches: [ main, gha ]

jobs:
  checkpolicy:
    runs-on: ubuntu-latest
    env:
      POLICY_REPO_BASEDIR: "org-policy"
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Check out policy repo
        uses: actions/checkout@v3
        with:
          repository: muncus/conftest-demo
          path: $POLICY_REPO_BASEDIR
      - name: Conftest testdata/repo
        uses: muncus/conftest-action@main
        with:
          namespace: "github.repo"
          files: "testdata/repo.pass.json"
          policy: $GITHUB_WORKSPACE/$POLICY_REPO_BASEDIR/policy
      - name: Conftest testdata/renovate
        uses: muncus/conftest-action@main
        with:
          namespace: "renovate"
          files: "testdata/renovate.json"
          policy: $GITHUB_WORKSPACE/$POLICY_REPO_BASEDIR/policy
      - name: Get current repo
        run: >
          curl -o repository.json
          https://api.github.com/repos/${{ github.repository}}
          -H "Authorization: Bearer ${{ github.token }}"\
      - name: Check Current Repository settings
        uses: muncus/conftest-action@main
        with:
          namespace: "github.repo"
          files: "repository.json"
          policy: $GITHUB_WORKSPACE/$POLICY_REPO_BASEDIR/policy
