name: Test conftest samples
on:
  workflow_call:
  pull_request:
    branches: [ main, gha ]

jobs:
  checkpolicy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Conftest testdata/repo
        uses: ./.github/actions/conftest
        with:
          namespace: "github.repo"
          files: "testdata/repo.pass.json"
      - name: Conftest testdata/renovate
        uses: ./.github/actions/conftest
        with:
          namespace: "renovate"
          files: "testdata/renovate.json"
      - name: Get current repo
        run: >
          curl -o repository.json
          https://api.github.com/repos/${{ github.repository}}
          -H "Authorization: Bearer ${{ github.token }}"\
      - name: Check Current Repository settings
        uses: ./.github/actions/conftest
        with:
          namespace: "github.repo"
          files: "repository.json"
