name: Test conftest samples
on:
  workflow_call:
  push:
    branches: [ main, gha ]

jobs:
  checkpolicy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Conftest testdata
        uses: ./.github/actions/conftest
        with:
          files: '[ "testdata/repo.pass.json", "testdata/repo.fail.json" ]'
